* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nitti', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/*h1 recommended*/
h1{
    font-family: 'Nitti', sans-serif;
    color: #374C7A;
    text-align: center;
    font-size: 40px;
}
/*NAVBAR 1*/
.navbar {
    background: #ffffff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navigationbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

#navbarlogo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #374C7A 0%, #4837ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Agbalumo', sans-serif;
}

#image {
    width: 70px; 
    height: auto;
    margin-right: 0.5rem;
}

/*SEARCH BAR*/
.navbarsearch {
    margin-right: 20px; 
    margin-left: auto; 
    display: flex;
    align-items: center;
}
.searchinput {
    border: none;
    border-bottom: 1px solid #374C7A;
    padding: 10px 20px; 
    margin-right: 10px;
    font-size: 1rem;
    width: 400px; /* panghaba*/
}
.searchbutton {
    background-color: #374C7A;
    color: white;
    border: none;
    padding: 10px 20px; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
.searchbutton:hover {
    background-color: #4837ff;
    transition: all 0.3s ease;
}
/* NAV BAR 2 */
.navbar2 {
    background: #374C7A;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2rem; 
    position: sticky;
    top: 70px; 
    z-index: 998;
}

.navbarcontainer {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.navbar-link {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 100px; 
    margin: 0 5px; 
    text-transform: uppercase; 
}

.navbar-link:hover {
    color:  #374C7A;
    background-color: rgb(255, 255, 255); 
    transition: all 0.3s ease;
    height: 40px;
}


/*recommended*/
.post-card {
    width: 430px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 60px;
    transition: transform 0.5s ease-in-out;
    border: 40px solid  #eceef1;
}
.post-image {
    width: 100%;
    height: 450px;
}
.card-link {
    text-decoration: none;
}
/* FLIP */
.post-card {
    position: relative; 
}
.post-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}
.post-card:hover .post-image {
    opacity: 0; 
}
.post-card:hover .post-image-hover {
    opacity: 1; 
}
/*TEXT*/
.post-card {
    position: relative;
    width: 430px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 60px;
    transition: transform 0.5s ease-in-out;
    border: 40px solid  #eceef1;
}
.post-description {
    position: absolute;
    top: 0;
    right: 550px; 
    width: 700px; 
    padding: 10px;
    right: 290px;
    top: 170px; 
    left: 65%; 
    transform: translateX(-50%);
    text-align: justify;
}
.post-description p {
    margin-bottom: 10px;
}
.post-description h2 {
    color: #374C7A;
    margin-bottom: 10px;
    font-size: 30px;
}
.post-description h3 {
    color: #ff8177;
    margin-bottom: 10px;
    font-size: 20px;
}
.post-description h4 {
    color: #374C7A;
    margin-bottom: 10px;
    font-size: 20px;
}
/*PRODUCT SPEC*/
h4{
    color: #374C7A;
    margin-bottom: 10px;
    font-size: 20px;
}
.product-specifications {
    position: absolute;
    top: 105px;  /*adjust lng kapag mahaba ung nasa h2 nung post description*/
    right: 20px; 
    width: 400px;
    margin-top: 228px;
    margin-left: 930px;
}
.spec-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.spec-label {
    font-weight: bold;
}
.spec-value {
    flex-grow: 1;
    margin-left: 10px;
}



/* Footer CSS */
.footer__container {
    background-color: #353e53;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Agbalumo', sans-serif;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 66px; /* Adjusted margin */
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .footer__link--items h4 {
    margin-bottom: 16px;
    font-size: 20px;
  }
  
  .footer__link--items > h4 {
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 13px;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
  }
  
  /* Social Icons */
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social__logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }
  
    

